<!DOCTYPE html>
<html>
<head>
    <title>Cities</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Select a City</h1>
        <div class="city-list">
            {% for city in cities %}
                <div class="city-item">
                    <a href="{% url 'point_of_interest_list' city.id %}">{{ city.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
